{% extends '::base.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span8 offset2">
      <section class="whiteBackground greyBorder roundedCorners">              
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="6" class="center">2 cases needs your attention!</th>
            </tr>
            <tr>
              <th>#</th>
              <th>Users name</th>
              <th>Serialnumber</th>
              <th>Subject</th>
              <th>Status</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Stangeby, David</td>
              <td>hup5at8u</td>
              <td>Defective harddrive</td>
              <td><span class="label label-important">Old</span></td>
              <td>1 day ago</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Nilsen, Harald</td>
              <td>mes5stap</td>
              <td>Reinstall</td>
              <td><span class="label label-important">Old</span></td>
              <td>1 day ago</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div><!--/span-->
  </div><!--/row-->
{% endblock %}