<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>ArcticAsset - Register</title>
	{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}" type="text/css" media="screen" />
	{% endblock %}
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="{{ asset('css/ie.css') }}" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% block javascripts %}
	<script src="{{ asset('js/jquery-1.5.2.min.js') }}" type="text/javascript"></script>
	{% endblock %}
	<script type="text/javascript">
		$(document).ready(function() {

		});
    </script>
</head>

<body>
	{% block fos_user_content %}
	{% include "ArcticUserBundle:Registration:register_content.html.twig" %}
	{% endblock fos_user_content %}
</body>
</html>