{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<p class="navbar-text pull-right">
  <a href="{{ path('fos_user_profile_show') }}" class="navbar-link">{{ 'layout.logged_in_as'|trans({'%username%': app.user.name}, 'FOSUserBundle') }}</a>
</p>
{% endif %}