{% extends ':Common:span8nonav.html.twig' %}

{% block mainSpan %}
<h1>New owner</h1>

<form action="{{ path('owner_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="{{ path('owner') }}" class="btn">Cancel</a>
    </div>
</form>
{% endblock %}