{% extends '::base.html.twig' %}

{% block content %}
<div class="row-fluid">
  <div class="span8">
    <section class="whiteBackground greyBorder roundedCorners padding15px">
    	{% block mainSpan %}{% endblock %}
    </section>
   </div>
</div>
{% endblock %}