{% extends '::base.html.twig' %}

{% block content %}
<div class="row-fluid">
	<div class="span8 whiteBackground greyBorder roundedCorners padding15px">
		<form action="" method="post" {{ form_enctype(form) }}>
			<legend>Add new asset</legend>
			{{ form_widget(form) }}
			<div>
			  <button type="submit" class="btn btn-primary">Save changes</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}